body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    gap: 20px;
}

.card {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(176, 176, 218);
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}
